* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    justify-content: center;
    align-items: center;
}

body {
    background-color: burlywood;
}

header {
    background-color: brown;
    color: white;
    text-align: center;
    padding: 10px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color:chocolate;
    border-width: 0;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

input {
    padding: 8px;
    margin-bottom: 5px;
    display: block;
    width: 300px;
    height: 20px;
    border-radius: 6px;
    border-style: none;
}

form {
    display: inline;
}

form label {
    padding-bottom: 5px;
    font-weight: 200;
}

section {
    margin: 20px;
}